<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light ms-5" *ngIf="logged == true" >🟢{{emailUsuario}}</a>

  <div class="collapse navbar-collapse justify-content-end me-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="" >🏠 Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/login" > 🔑 Login</a>
      </li>
      <li class="nav-item" *ngIf="logged == true">
        <a class="nav-link text-light" routerLink="/altaRepartidor">🥟 Alta Repartidor</a>
      </li>
      <li class="nav-item" *ngIf="logged == true">
        <a class="nav-link text-light" routerLink="/repartidorDetalle"> 🔍 Repartidor Detalle</a>
      </li>
      <li class="nav-item" *ngIf="logged == true">
        <a class="nav-link text-light" routerLink="" (click)="logout()"> ⭕ Salir</a>
      </li>
    </ul>
  </div>
</nav>