<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3 bg-primary">
    <h4 class="my-0 fw-normal">Crear Pizza</h4>
  </div>
  <div class="card-body">
    <form (ngSubmit)="crearPizza()" #pizzaForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="pizza.nombre" required>
      </div>
      <div class="form-group">
        <label for="ingredientes">Ingredientes</label>
        <input type="text" class="form-control" id="ingredientes" name="ingredientes" [(ngModel)]="pizza.ingredientes" required>
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="pizza.precio" required>
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="number" class="form-control" id="peso" name="peso" [(ngModel)]="pizza.peso" required min="500" max="1000"> 
        <div class="text-warning">
          El peso debe ser entre 500 y 1000 gramos.
        </div>
      </div>
      <hr>
      <button type="submit" class="w-100 btn btn-lg btn-primary" [disabled]="!pizzaForm.form.valid">Agregar Pizza</button>
    </form>
  </div>
</div>