<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Salen Pizzas</h1>
</div>

<main class="container">
    <app-lista-pizzas  (selectedPizzaOutput)="recibirPizza($event)"></app-lista-pizzas>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <div class="col">
        <app-crear-pizza></app-crear-pizza>
      </div>

      <div class="col">
        <app-modificar-pizza [pizza]="pizza"></app-modificar-pizza>
      </div>

      <div class="col">
        <app-borrar-pizza [pizza]="pizza"></app-borrar-pizza>
      </div>
    </div>
</main>

 